 <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow your business with us</p>
                    <div class="row"> 
                       <div class="col-md-6 col-12 hero-text">
                            <figure>
                                 <img src="images/imp.webp" alt="Aarya Import Export Images"  width="500px">
                            </figure>
                       </div>
                    {{! ---- right Side ----}}
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                        <h2>We Are The Professional Supplier For Your Business</h2>

                        <p>Welcome To<span class="bold-style">Aarya Import Export Company</span>
                        Starting an export business can be quite a challenge, especially 
                        if you are new to the industry. This is where Amazon Global Selling comes into the picture.
                         With international logistics and state-of-the-art tools.
                        </p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div>
                
                    
                </div>
            </div>
        </div>
    </div>