<div class="container-fluid mt-5 mx-auto">
    <div class="row">
<h1 class="text-center main-heading">Maps</h1>
   <div><p class="text-center sub-heading " style="font-size: 3.5rem;">Our Locations</p></div>

<section class="d-flex justify-content-center align-items-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3569.541740479037!2d86.73833031451238!3d26.534858982643076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eef0783b4122c1%3A0xbb98517067abd6d!2sRajbiraj%2056400!5e0!3m2!1sen!2snp!4v1637946270958!5m2!1sen!2snp" width="80%" height="450" style="border:0; border-radius:2px;" allowfullscreen="" loading="lazy"></iframe>
</section>
</div></div>