<div class="container-fluid mt-5 service-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Our Services</h1>
                <p class="text-center sub-heading">Grow your business with us</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/6NKPrhO.png" alt="image">
                                    </div>
                                    <h4>Maintanance</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="box">
                                <div class="our-services speedup">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/6NKPrhO.png" alt="image">
                                    </div>
                                    <h4>Home Delivery</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="box">
                                <div class="our-services privacy">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/AgyneKA.png" alt="image">
                                    </div>
                                    <h4>Drone Delivery</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="box">
                                <div class="our-services backups">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/vdH9LKi.png" alt="image">
                                    </div>
                                    <h4>Cargo Servive</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="box">
                                <div class="our-services ssl">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/v6OnUqu.png" alt="image">
                                    </div>
                                    <h4>Gurantee</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="box">
                                <div class="our-services database">
                                    <div class="icon">
                                        <img src="http://i.imgur.com/VzjZw9M.png" alt="image">
                                    </div>
                                    <h4>Get Showroom</h4>
                                    <p>Join our family of thousands of Nepalese sellers selling globally</p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
            </div>
        </div>
</div>
